extends layoutAddQuestions
block content
    #addQuestion
        h2 Add Question
        fieldset
            input#Question(type='text', placeholder='Question')
            br
            input#AnswerOne(type='text', placeholder='AnswerOne')
            br
            input#AnswerTwo(type='text', placeholder='AnswerTwo')
            br
            input#AnswerThree(type='text', placeholder='AnswerThree')
            br
            input#AnswerFour(type='text', placeholder='AnswerFour')
            br
            input#Number(type='text', placeholder='Number')
            br
            input#Correct(type='text', placeholder='Correct')
            br
            input#Difficulty(type='text', placeholder='Difficulty')
            br
            button#btnAddQuestion Add Question

        h3 Hello

//
//doctype html
//html
//    head
//        title= title
//        link(rel='stylesheet', href='/stylesheets/style.css')
//    body
//        #addQuestion
//            h2 Add Question
//            fieldset
//                input#Question(type='text', placeholder='Question')
//                br
//                input#AnswerOne(type='text', placeholder='AnswerOne')
//                br
//                input#AnswerTwo(type='text', placeholder='AnswerTwo')
//                br
//                input#AnswerThree(type='text', placeholder='AnswerThree')
//                br
//                input#AnswerFour(type='text', placeholder='AnswerFour')
//                br
//                input#Number(type='text', placeholder='Number')
//                br
//                button#btnAddQuestion Add Question
//
//        script(src = '/javascripts/views/addQuestionView.js')
//        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
//        script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
//        script(src = '/javascripts/libraries/underscore-min.js')
//        script(src = '/javascripts/libraries/backbone-min.js')
//        script(src = '/javascripts/libraries/backbone.localStorage.js')
//        script(src = '/javascripts/libraries/jquery-dateFormat-1.0.js')
//        script(src = '/javascripts/libraries/jquery-ui-1.10.0.custom.js')
//        script(src = '/javascripts/model/questionsModel.js')
//        script(src = '/javascripts/collections/questionsCollection.js')

//
//extends layout
//block content
//    #addQuestion
//        h2 Add Question
//        fieldset
//            input#Question(type='text', placeholder='Question')
//            br
//            input#AnswerOne(type='text', placeholder='AnswerOne')
//            br
//            input#AnswerTwo(type='text', placeholder='AnswerTwo')
//            br
//            input#AnswerThree(type='text', placeholder='AnswerThree')
//            br
//            input#AnswerFour(type='text', placeholder='AnswerFour')
//            br
//            input#Number(type='text', placeholder='Number')
//            br
//            button#btnAddQuestion Add Question
//