//
   Created by matthewyun on 2/1/16.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src = '/javascripts/libraries/underscore-min.js')
        script(src = '/javascripts/libraries/backbone-min.js')
        script(src = '/javascripts/libraries/backbone.localStorage.js')
        script(src = '/javascripts/libraries/jquery-dateFormat-1.0.js')
        script(src = '/javascripts/libraries/jquery-ui-1.10.0.custom.js')
        script(src = '/javascripts/model/questionsModel.js')
        script(src = '/javascripts/collections/questionsCollection.js')
        script(src = '/javascripts/views/addQuestionView.js')
        script(src = '/javascripts/appAddQuestion.js')
